In [18]:
library(bigrquery)
library(tidyverse)
library(labelled)

In [19]:
# Store the project ID
projectid = "yhcr-prd-phm-bia-core"

In [20]:
# pull covariates from tbl_SRCode
# cholesterol
chol <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text, src_numericvalue, src_numericunit FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode`
WHERE src_ctv3code LIKE '%XaIRD%' OR src_ctv3code LIKE '%XaJe9%' OR src_ctv3code LIKE '%Xa86v%' OR src_ctv3code LIKE '%XSK14%' OR src_ctv3code LIKE '%44PF.%' OR src_ctv3code LIKE '%Y1cc2%'"
tb1 <- bq_project_query(projectid, chol)
chol <- bq_table_download(tb1)

In [21]:
# systolic blood pressure
sbp <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text, src_numericvalue, src_numericunit FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode`
WHERE src_ctv3code LIKE '%XaIwj%' OR src_ctv3code LIKE '%XaF4F%' OR src_ctv3code LIKE '%XaJ2E%'"
tb2 <- bq_project_query(projectid, sbp)
sbp <- bq_table_download(tb2)

In [22]:
# diastolic blood pressure
dbp <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text, src_numericvalue, src_numericunit FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode`
WHERE src_ctv3code LIKE '%XaF4S%' OR src_ctv3code LIKE '%XaIwk%' OR src_ctv3code LIKE '%XaJ2F%'"
tb21 <- bq_project_query(projectid, dbp)
dbp <- bq_table_download(tb21)

In [23]:
# BMI
bmi <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text, src_numericvalue, src_numericunit FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` WHERE src_ctv3code LIKE '%22K..%'"
tb3 <- bq_project_query(projectid, bmi)
bmi <- bq_table_download(tb3)

In [24]:
# Smoking
smoke <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode`
WHERE src_ctv3code LIKE '%Ub1na%' OR src_ctv3code LIKE '%Xe0oq%' OR src_ctv3code LIKE '%137R.%' OR src_ctv3code LIKE '%Ub0oq%'"
tb4 <- bq_project_query(projectid, smoke)
smoke <- bq_table_download(tb4)

In [25]:
# Renal disease
# Creatinine
renal_cr <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text, src_numericvalue, src_numericunit FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode`
WHERE src_ctv3code LIKE '%44J3.%' OR src_ctv3code LIKE '%46M7.%' OR src_ctv3code LIKE '%X771Q%' OR src_ctv3code LIKE '%X80D7%' 
OR src_ctv3code LIKE '%XE26a%' OR src_ctv3code LIKE '%XE2q5%' OR src_ctv3code LIKE '%XE2qO%' OR src_ctv3code LIKE '%XaETQ%'"
tb5 <- bq_project_query(projectid, renal_cr)
renal_cr <- bq_table_download(tb5)

# Albumin
renal_al <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text, src_numericvalue, src_numericunit FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode`
WHERE src_ctv3code LIKE '%46TC.%' OR src_ctv3code LIKE '%X773Y%' OR src_ctv3code LIKE '%XE2n3%' OR src_ctv3code LIKE '%XE2n4%'"
tb51 <- bq_project_query(projectid, renal_al)
renal_al <- bq_table_download(tb51)

# eGFR
renal_egfr <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text, src_numericvalue, src_numericunit FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode`
WHERE src_ctv3code LIKE '%XaZpN%'"
tb52 <- bq_project_query(projectid, renal_egfr)
renal_egfr <- bq_table_download(tb52)

In [26]:
nrow(chol)
nrow(bmi)
nrow(smoke)
nrow(sbp)
nrow(dbp)
nrow(renal_cr)
nrow(renal_al)
nrow(renal_egfr)

[1] 415184

[1] 5963850

[1] 2926568

[1] 317384

[1] 315600

[1] 5586104

[1] 1283036

[1] 33194

In [27]:
head(chol)
table(chol$src_numericunit)
table(chol$src_ctv3text, chol$src_numericunit)

  person_id src_dateevent       src_ctv3code src_ctv3text
1 10403963  2016-10-11 00:00:00 XaJe9        Serum total cholesterol level
2  8373119  2003-09-22 00:00:00 44PF.        Total cholesterol:HDL ratio
3 12710773  2007-01-11 00:00:01 44PF.        Total cholesterol:HDL ratio
4 12935834  2004-04-02 00:00:00 44PF.        Total cholesterol:HDL ratio
5   804909  2005-11-14 00:00:00 44PF.        Total cholesterol:HDL ratio
6 13418643  2004-03-15 00:00:00 44PF.        Total cholesterol:HDL ratio
  src_numericvalue src_numericunit
1 7                mmol/l
2 3.96             NULL
3 4.07             NULL
4 5.7000003        NULL
5 5.1000004        mmHg
6 4.63             NULL

               %           10*6/L          10*6/mL          10^12/L
             769                1                2              228
          10^6/L           10^9/L              bpm                C
               1             1507               77                3
cigarettes / day     cigars / day         Cigs/day               cm
               4                6               80               16
              dB               fL              g/d             g/dl
               9              248                1                4
            g/dL              g/l              g/L             iu/L
              74                2             1638              998
           iu/mL            IU/mL               Kg          Kg/mï¿½
               8                1              653              468
            ku/L                L            l/min            L/min
               2               49               14              106
          Litres                m            mg/dL             mg/L
               3              314                3               99
           mg/mg          mg/mmol            miu/L               mL
               7               63              439                3
  mL/min/1.73m*2            mlU/L            mm/hr             mmHg
               2                4               42             2219
          mmol/l           mmol/L        mmol/mmol             mPas
            6876             7508               24               10
            mu/L             ng/L            ng/ml           nmol/L
               3               52              119               26
            NULL               pg            pg/mL               pH
          388957              225                1                2
          pmol/L              PPM                s             ug/L
             107                7               11                3
          umol/l           umol/L       Units/Week            Weeks
               2              863              214                5
         yrs old
               2

                                     % 10*6/L 10*6/mL 10^12/L 10^6/L 10^9/L
  Cervical smear overdue            17      0       0       4      0     38
  Serum total cholesterol level      0      0       0       0      0      1
  Total cholesterol                  0      0       0       0      0      0
  Total cholesterol measurement      0      0       0       0      0      1
  Total cholesterol:HDL ratio      752      1       2     224      1   1467

                                   bpm      C cigarettes / day cigars / day
  Cervical smear overdue             4      0                0            0
  Serum total cholesterol level      0      0                0            0
  Total cholesterol                  0      0                0            0
  Total cholesterol measurement      0      0                0            0
  Total cholesterol:HDL ratio       73      3                4            6

                                Cigs/day     cm     dB     fL    g/d   g/dl
  Cervical smear overdue               2      2      0      7      0      0
  Serum total cholesterol level        1      0      0      1      0      0
  Total cholesterol                    0      0      0      0      0      0
  Total cholesterol measurement        1      0      0      0      0      0
  Total cholesterol:HDL ratio         76     14      9    240      1      4

                                  g/dL    g/l    g/L   iu/L  iu/mL  IU/mL
  Cervical smear overdue             2      0     14     16      0      0
  Serum total cholesterol level      0      0      0      0      0      0
  Total cholesterol                  0      0      0      0      0      0
  Total cholesterol measurement      0      0      1      0      0      0
  Total cholesterol:HDL ratio       72      2   1623    982      8      1

                                    Kg Kg/mï¿½   ku/L      L  l/min  L/min
  Cervical smear overdue            21      20      0      0      0      6
  Serum total cholesterol level      1       0      0      0      0      0
  Total cholesterol                  0       0      0      0      0      0
  Total cholesterol measurement      0       0      0      0      0      0
  Total cholesterol:HDL ratio      631     448      2     49     14    100

                                Litres      m  mg/dL   mg/L  mg/mg mg/mmol
  Cervical smear overdue             0      8      1      1      0       2
  Serum total cholesterol level      0      1      0      0      0       0
  Total cholesterol                  0      0      0      0      0       0
  Total cholesterol measurement      0      0      0      0      0       0
  Total cholesterol:HDL ratio        3    305      2     98      7      61

                                 miu/L     mL mL/min/1.73m*2  mlU/L  mm/hr
  Cervical smear overdue             3      0              0      0      2
  Serum total cholesterol level      0      0              0      0      0
  Total cholesterol                  0      0              0      0      0
  Total cholesterol measurement      0      0              0      0      0
  Total cholesterol:HDL ratio      436      3              2      4     40

                                  mmHg mmol/l mmol/L mmol/mmol   mPas   mu/L
  Cervical smear overdue            68      1     38         0      0      0
  Serum total cholesterol level      2   6860      1         0      0      0
  Total cholesterol                  0      0      0         0      0      0
  Total cholesterol measurement      3      0   1629         0      0      0
  Total cholesterol:HDL ratio     2146     15   5840        24     10      3

                                  ng/L  ng/ml nmol/L   NULL     pg  pg/mL
  Cervical smear overdue             0      3      1   8927      9      1
  Serum total cholesterol level      0      0      0   6963      0      0
  Total cholesterol                  0      0      0    247      0      0
  Total cholesterol measurement      0      0      0    187      0      0
  Total cholesterol:HDL ratio       52    116     25 372632    216      0

                                    pH pmol/L    PPM      s   ug/L umol/l
  Cervical smear overdue             0      2      1      0      0      0
  Serum total cholesterol level      0      0      0      0      0      0
  Total cholesterol                  0      0      0      0      0      0
  Total cholesterol measurement      0      0      0      0      0      0
  Total cholesterol:HDL ratio        2    105      6     11      3      2

                                umol/L Units/Week  Weeks yrs old
  Cervical smear overdue            15          5      0       0
  Serum total cholesterol level      0          0      0       0
  Total cholesterol                  0          0      0       0
  Total cholesterol measurement      1          0      0       0
  Total cholesterol:HDL ratio      847        209      5       2

In [28]:
cholesterol <- chol %>% filter(src_numericunit == "mmol/L" | src_numericunit == "mmol/l") # keep only mmol/L units
sbp$src_numericvalue <- as.numeric(sbp$src_numericvalue)
sysbp <- sbp %>% filter(src_numericunit == "mmHg") %>% mutate(src_numericvalue = round(src_numericvalue, digits = 0)) # keep only mmHg units
dbp$src_numericvalue <- as.numeric(dbp$src_numericvalue)
diabp <- dbp %>% filter(src_numericunit == "mmHg") %>% mutate(src_numericvalue = round(src_numericvalue, digits = 0)) # keep only mmHg units
BMI <- bmi %>% filter(src_numericunit == "Kg/mï¿½" | src_numericunit == "Kg/m��«") %>% mutate(src_numericunit = "kg/m2")
renal_CR <- renal_cr %>% filter(src_numericunit == "umol/L")
renal_AL <- renal_al %>% filter(src_numericunit == "mg/mmol")
renal_EGFR <- renal_egfr %>% filter(src_numericunit == "mL/min/1.73m*2")

In [29]:
nrow(cholesterol)
nrow(BMI)
nrow(sysbp)
nrow(diabp)
nrow(renal_CR)
nrow(renal_AL)
nrow(renal_EGFR)

[1] 14384

[1] 5901593

[1] 313768

[1] 312525

[1] 4749020

[1] 598402

[1] 4894

In [30]:
colnames(cholesterol)
table(cholesterol$src_ctv3text, cholesterol$src_numericunit)
cholesterol %>% select(src_numericunit, src_numericvalue, src_ctv3text)

[1] "person_id"        "src_dateevent"    "src_ctv3code"     "src_ctv3text"
[5] "src_numericvalue" "src_numericunit"

                                mmol/l mmol/L
  Cervical smear overdue             1     38
  Serum total cholesterol level   6860      1
  Total cholesterol measurement      0   1629
  Total cholesterol:HDL ratio       15   5840

      src_numericunit src_numericvalue src_ctv3text
1     mmol/l          7                Serum total cholesterol level
2     mmol/L          8.8              Total cholesterol:HDL ratio
3     mmol/L          7.5              Total cholesterol:HDL ratio
4     mmol/L          6.5              Total cholesterol measurement
5     mmol/l          6.6              Serum total cholesterol level
6     mmol/L          10.9             Total cholesterol:HDL ratio
7     mmol/l          6.5              Serum total cholesterol level
8     mmol/l          7.9              Serum total cholesterol level
9     mmol/L          7.2              Total cholesterol measurement
10    mmol/l          6.6              Serum total cholesterol level
11    mmol/l          6.8              Serum total cholesterol level
12    mmol/l          6.18             Serum total cholesterol level
13    mmol/L          6.4              Total cholesterol:HDL ratio
14    mmol/l          8.1              Serum total cholesterol level
15    mmol/l          8.2              Serum total cholesterol level
16    mmol/l          5.28             Serum total cholesterol level
17    mmol/L          6.8              Total cholesterol measurement
18    mmol/L          4.73             Total cholesterol measurement
19    mmol/l          6.5              Serum total cholesterol level
20    mmol/l          5.18             Serum total cholesterol level
21    mmol/L          4.77             Total cholesterol measurement
22    mmol/l          6.6              Serum total cholesterol level
23    mmol/L          6.8              Total cholesterol measurement
24    mmol/l          7.7              Serum total cholesterol level
25    mmol/l          6.7              Serum total cholesterol level
26    mmol/L          8.9              Total cholesterol:HDL ratio
27    mmol/l          3.81             Serum total cholesterol level
28    mmol/l          7.4              Serum total cholesterol level
29    mmol/l          4.22             Serum total cholesterol level
30    mmol/l          7.3              Serum total cholesterol level
⋮     ⋮               ⋮                ⋮
14355 mmol/l          6.3              Serum total cholesterol level
14356 mmol/l          6.3              Serum total cholesterol level
14357 mmol/L          6.3              Total cholesterol:HDL ratio
14358 mmol/l          6.3              Serum total cholesterol level
14359 mmol/L          6.3              Total cholesterol:HDL ratio
14360 mmol/l          6.3              Serum total cholesterol level
14361 mmol/l          6.3              Serum total cholesterol level
14362 mmol/l          6.3              Serum total cholesterol level
14363 mmol/l          6.3              Serum total cholesterol level
14364 mmol/L          6.3              Total cholesterol measurement
14365 mmol/L          6.3              Total cholesterol:HDL ratio
14366 mmol/l          6.3              Serum total cholesterol level
14367 mmol/l          6.3              Serum total cholesterol level
14368 mmol/L          6.3              Total cholesterol:HDL ratio
14369 mmol/L          6.3              Total cholesterol:HDL ratio
14370 mmol/l          6.3              Serum total cholesterol level
14371 mmol/L          6.3              Total cholesterol:HDL ratio
14372 mmol/l          6.3              Serum total cholesterol level
14373 mmol/l          6.3              Serum total cholesterol level
14374 mmol/l          6.3              Serum total cholesterol level
14375 mmol/l          6.3              Serum total cholesterol level
14376 mmol/L          6.3              Total cholesterol:HDL ratio
14377 mmol/L          6.3              Total cholesterol:HDL ratio
14378 mmol/L          6.3              Total cholesterol:HDL ratio
14379 mmol/L          6.3              Total cholesterol:HDL ratio
14380 mmol/l          6.3              Serum total cholesterol level
14381 mmol/l          6.3              Serum total cholesterol level
14382 mmol/l          6.3              Serum total cholesterol level
14383 mmol/l          6.3              Serum total cholesterol level
14384 mmol/l          6.3              Serum total cholesterol level

In [31]:
# Clean covariate tables
# Cholesterol
chol$src_numericvalue <- as.numeric(chol$src_numericvalue)
cholesterol <- cholesterol %>%
    filter(!src_ctv3text == "Cervical smear overdue") %>%
  mutate(cholesterol = case_when(
    src_numericvalue <= 5 ~ 1,
    src_numericvalue > 5 ~ 2)) %>%
  set_value_labels(cholesterol = c("Healthy" = 1, "High" = 2)) %>%
  select(person_id, date_cholesterol = src_dateevent, cholesterol)
cholesterol$date_cholesterol <- as.Date(cholesterol$date_cholesterol)
cholesterol <- cholesterol[!duplicated(cholesterol),]
nrow(cholesterol)
table(cholesterol$cholesterol)

[1] 14202

   1    2
9438 4764

In [32]:
# Clean covariate tables
# BMI
BMI$src_dateevent <- as.Date(BMI$src_dateevent)
BMI$src_numericvalue <- as.numeric(BMI$src_numericvalue)
# two decimal places
BMI <- BMI %>%
  mutate(bmi = case_when(
    src_numericvalue < 18.5 ~ 1,
    src_numericvalue >= 18.5 & src_numericvalue <= 24.9 ~ 2,
    src_numericvalue >= 25 & src_numericvalue <= 29.9 ~ 3,
    src_numericvalue >= 30 ~ 4)) %>%
  set_value_labels(bmi = c("Underweight" = 1, "Healthy weight" = 2, "Overweight" = 3, "Obese" = 4)) %>%
  select(person_id, date_bmi = src_dateevent, bmi, bmi_value = src_numericvalue)
BMI <- BMI[!duplicated(BMI),]
nrow(BMI)
table(BMI$bmi)

[1] 5525626

      1       2       3       4
 857739 1579448 1490024 1551844

In [34]:
sum(duplicated(BMI))

[1] 0

In [35]:
# Clean covariate tables
# Smoking
smoke$src_dateevent <- as.Date(smoke$src_dateevent)
smoking <- smoke %>%
  mutate(smoking = case_when(
    src_ctv3text == "Smoker" ~ 1,
    src_ctv3text == "Ex-smoker" ~ 2,
    src_ctv3text == "Non-smoker" ~ 3)) %>%
  set_value_labels(smoking = c("Smoker" = 1, "Ex-smoker" = 2, "Non-smoker" = 3)) %>%
  select(person_id, date_smoking = src_dateevent, smoking)
smoking <- smoking[!duplicated(smoking),]
nrow(smoking)
table(smoking$smoking)

[1] 2739312

      1       2       3
1339305 1214802  185205

In [36]:
# Clean covariate tables
# Systolic Blood pressure
sysbp$src_dateevent <- as.Date(sysbp$src_dateevent)
sysbp <- sysbp %>%
  mutate(sys_bp = case_when(
    src_numericvalue < 90 ~ 1,
    src_numericvalue >= 90 & src_numericvalue <= 139 ~ 2,
    src_numericvalue >= 140 ~ 3)) %>%
  set_value_labels(sys_bp = c("Low" = 1, "Normal" = 2, "High" = 3)) %>%
  select(person_id, date_bp = src_dateevent, sys_bp, sbp_value = src_numericvalue)
table(sysbp$sys_bp)

     1      2      3
  7617 209840  96311

In [42]:
sysbp <- sysbp[!duplicated(sysbp),]
nrow(sysbp)

[1] 296943

In [44]:
table(sysbp$sys_bp)

     1      2      3
  7059 198760  91124

In [38]:
# Diastolic Blood pressure
diabp$src_dateevent <- as.Date(diabp$src_dateevent)
diabp <- diabp %>%
  mutate(dia_bp = case_when(
    src_numericvalue < 60 ~ 1,
    src_numericvalue >= 60 & src_numericvalue <= 89 ~ 2,
    src_numericvalue >= 90 ~ 3)) %>%
  set_value_labels(dia_bp = c("Low" = 1, "Normal" = 2, "High" = 3)) %>%
  select(person_id, date_bp = src_dateevent, dia_bp, dbp_value = src_numericvalue)
table(diabp$dia_bp)

     1      2      3
 34630 244477  33418

In [43]:
diabp <- diabp[!duplicated(diabp),]
nrow(diabp)

[1] 289305

In [45]:
table(diabp$dia_bp)

     1      2      3
 31953 226096  31256

In [46]:
# Join systolic and diastolic blood pressure tables together
bp <- full_join(sysbp, diabp, by = c("person_id", "date_bp"))
head(bp)
bp <- bp[!duplicated(bp),]
nrow(bp)
table(bp$sys_bp, bp$dia_bp)

Warning message in full_join(sysbp, diabp, by = c("person_id", "date_bp")):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 1 of `x` matches multiple rows in `y`.
ℹ Row 75363 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”

  person_id date_bp    sys_bp sbp_value dia_bp dbp_value
1 13027445  2014-09-15 2      139       3      112
2 13027445  2014-09-15 2      139       3      104
3 12555391  2019-05-07 2      118       2       70
4 12703662  2019-01-14 2       96       2       70
5 12703662  2019-01-14 2       96       2       60
6 12775719  2021-05-14 2       90       1       58

[1] 469226

         1      2      3
  1   5599   3721    363
  2  39249 261332  14116
  3   5134 100721  37102

In [47]:
# BP variable
bp <- bp %>%
  mutate(bp = case_when(
    sys_bp == 1 & dia_bp == 1 ~ 1,
    sys_bp == 1 | dia_bp == 1 ~ 11,
    sys_bp == 2 & dia_bp == 2 ~ 2,
    sys_bp == 3 & dia_bp == 3 ~ 3,
    sys_bp == 3 | dia_bp == 3 ~ 31,
    sys_bp == 1 & dia_bp == 3 ~ 32,
    sys_bp == 3 & dia_bp == 1 ~ 33,
    is.na(sys_bp) | is.na(dia_bp) ~ NA)) %>%
  mutate(blood_pressure = case_when(
    bp == 1 | bp == 11 ~ 1,
    bp == 2 ~ 2,
    bp == 3 | bp == 31 | bp == 32 | bp == 33 ~ 3,
    is.na(bp) ~ NA)) %>%
  set_value_labels(blood_pressure = c("Low" = 1, "Normal" = 2, "High" = 3)) %>%
  select(person_id, date_bp, blood_pressure, sbp_value, dbp_value)
table(bp$blood_pressure)
bp <- bp[!duplicated(bp),]
nrow(bp)
table(bp$blood_pressure)

     1      2      3
 54554 261332 152362

[1] 469226

     1      2      3
 54554 261332 152362

In [48]:
# Clean covariate tables
# Kidney Function
#renal_CR$src_dateevent <- as.Date(renal_CR$src_dateevent)
#renal_AL$src_dateevent <- as.Date(renal_AL$src_dateevent)
#renal_EGFR$src_dateevent <- as.Date(renal_EGFR$src_dateevent)

# Creatinine
renal_CR <- renal_CR %>%
    filter(!src_numericvalue < 0) %>%
    mutate(creatinine = case_when(
        src_numericvalue <= 100 ~ 1,
        src_numericvalue > 100 & src_numericvalue < 500 ~ 2,
        src_numericvalue >= 500 ~ 3)) %>%
    set_value_labels(creatinine = c("Normal" = 1, "High" = 2, "Very High" = 3)) %>%
    select(person_id, date_creatinine = src_dateevent, creatinine)
renal_CR <- renal_CR[!duplicated(renal_CR),]
nrow(renal_CR)
table(renal_CR$creatinine)

# Albumin:Creatinine ratio (ACR)
renal_AL <- renal_AL %>%
    mutate(acr = case_when(
        src_numericvalue <= 30 ~ 1,
        src_numericvalue > 30 & src_numericvalue < 300 ~ 2,
        src_numericvalue >= 300 ~ 3)) %>%
    set_value_labels(acr = c("Normal" = 1, "High" = 2, "Very High" = 3)) %>%
    select(person_id, date_acr = src_dateevent, acr)
renal_AL <- renal_AL[!duplicated(renal_AL),]
nrow(renal_AL)
table(renal_AL$acr)

# eGFR
renal_EGFR <- renal_EGFR %>%
    mutate(egfr = case_when(
        src_numericvalue >= 90 ~ 1,
        src_numericvalue < 90 ~ 2)) %>%
    set_value_labels(egfr = c("Normal" = 1, "Reduced kidney function" = 2)) %>%
    select(person_id, date_egfr = src_dateevent, egfr)
renal_EGFR <- renal_EGFR[!duplicated(renal_EGFR),]
nrow(renal_EGFR)
table(renal_EGFR$egfr)

[1] 4660693

      1       2       3
  46938 1195322 3418433

[1] 590341

     1      2      3
498303    807  91231

[1] 2424

   1    2
 635 1789

In [49]:
colnames(bp)
cholesterol$cholesterol <- as.integer(cholesterol$cholesterol)
BMI$bmi <- as.integer(BMI$bmi)
smoking$smoking <- as.integer(smoking$smoking)
bp$blood_pressure <- as.integer(bp$blood_pressure)
#renal$renal_disease <- as.integer(renal$renal_disease)
renal_CR$creatinine <- as.integer(renal_CR$creatinine)
renal_AL$acr <- as.integer(renal_AL$acr)
renal_EGFR$egfr <- as.integer(renal_EGFR$egfr)

[1] "person_id"      "date_bp"        "blood_pressure" "sbp_value"
[5] "dbp_value"

In [50]:
# Make sure date variables are class 'Date'
cholesterol$date_cholesterol <- as.Date(cholesterol$date_cholesterol)
BMI$date_bmi <- as.Date(BMI$date_bmi)
smoking$date_smoking <- as.Date(smoking$date_smoking)
bp$date_bp <- as.Date(bp$date_bp)
renal_CR$date_creatinine <- as.Date(renal_CR$date_creatinine)
renal_AL$date_acr <- as.Date(renal_AL$date_acr)
renal_EGFR$date_egfr <- as.Date(renal_EGFR$date_egfr)

In [51]:
head(cholesterol)

  person_id date_cholesterol cholesterol
1 10403963  2016-10-11       2
2 12810245  2005-07-07       2
3 12431555  2005-10-13       2
4 12783976  2018-09-26       2
5 13661214  2011-01-31       2
6 12665948  2005-09-09       1

In [52]:
# keep dates only between 2006-2018 i.e. a maximum of 1 year before/after diabetes diagnosis
cholesterol <- cholesterol %>%
    mutate(within_date = ifelse(date_cholesterol >= "2006-01-01" & date_cholesterol <= "2018-12-31",1,0))
BMI <- BMI %>%
    mutate(within_date = ifelse(date_bmi >= "2006-01-01" & date_bmi <= "2018-12-31",1,0))
smoking <- smoking %>%
    mutate(within_date = ifelse(date_smoking >= "2006-01-01" & date_smoking <= "2018-12-31",1,0))
bp <- bp %>%
    mutate(within_date = ifelse(date_bp >= "2006-01-01" & date_bp <= "2018-12-31",1,0))
renal_CR <- renal_CR %>%
    mutate(within_date = ifelse(date_creatinine >= "2006-01-01" & date_creatinine <= "2018-12-31",1,0))
renal_AL <- renal_AL %>%
    mutate(within_date = ifelse(date_acr >= "2006-01-01" & date_acr <= "2018-12-31",1,0))
renal_EGFR <- renal_EGFR %>%
    mutate(within_date = ifelse(date_egfr >= "2006-01-01" & date_egfr <= "2018-12-31",1,0))

In [53]:
table(cholesterol$within_date)
table(BMI$within_date)
table(smoking$within_date)
table(bp$within_date)
table(renal_CR$within_date)
table(renal_AL$within_date)
table(renal_EGFR$within_date)

# Keep only those within the dates
cholesterol <- cholesterol %>%
    filter(!within_date == 0) %>%
    select(-within_date)
BMI <- BMI %>%
    filter(!within_date == 0) %>%
    select(-within_date)
smoking <- smoking %>%
    filter(!within_date == 0) %>%
    select(-within_date)
bp <- bp %>%
    filter(!within_date == 0) %>%
    select(-within_date)
renal_CR <- renal_CR %>%
    filter(!within_date == 0) %>%
    select(-within_date)
renal_AL <- renal_AL %>%
    filter(!within_date == 0) %>%
    select(-within_date)
renal_EGFR <- renal_EGFR %>%
    filter(!within_date == 0) %>%
    select(-within_date)

   0    1
7918 6284

      0       1
2061283 3464343

      0       1
 796357 1942955

     0      1
192654 276572

      0       1
1660842 2999851

     0      1
166085 424256

   0    1
1745  679

In [28]:
head(cholesterol)

  person_id date_cholesterol cholesterol
1 12696370  2022-04-12       1
2 14853123  2015-11-11       2
3 12783976  2018-09-26       2
4 13661214  2011-01-31       2
5 13579953  2018-05-02       2
6 10425848  2020-03-06       2

In [54]:
nrow(cholesterol)
nrow(BMI)
nrow(smoking)
nrow(bp)
nrow(renal_CR)
nrow(renal_AL)
nrow(renal_EGFR)

[1] 6284

[1] 3464343

[1] 1942955

[1] 276572

[1] 2999851

[1] 424256

[1] 679

In [55]:
bq_auth()

In [ ]:
# save each dataset
dest_dataset <- bq_dataset("yhcr-prd-phm-bia-core","CB_MYSPACE_AH")
# Cholesterol
dest_table <- bq_table(dest_dataset, "Cholesterol")
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("date_cholesterol", "DATE"),
                              bq_field("cholesterol", "INT64")))
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
bq_table_upload(dest_table, cholesterol, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')
# BMI
dest_table <- bq_table(dest_dataset, "BMI")
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("date_bmi", "DATE"),
                              bq_field("bmi", "INT64"),
                              bq_field("bmi_value", "FLOAT64")))
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
bq_table_upload(dest_table, BMI, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')
# Smoking
dest_table <- bq_table(dest_dataset, "Smoking")
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("date_smoking", "DATE"),
                              bq_field("smoking", "INT64")))
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
bq_table_upload(dest_table, smoking, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')
# Blood Pressure
dest_table <- bq_table(dest_dataset, "Blood_Pressure")
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("date_bp", "DATE"),
                              bq_field("blood_pressure", "INT64"),
                              bq_field("sbp_value", "FLOAT64"),
                              bq_field("dbp_value", "FLOAT64")))
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
bq_table_upload(dest_table, bp, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')

# Renal disease: Creatinine
dest_table <- bq_table(dest_dataset, "Creatinine")
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("date_creatinine", "DATE"),
                              bq_field("creatinine", "INT64")))
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
bq_table_upload(dest_table, renal_CR, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')

# Renal disease: ACR
dest_table <- bq_table(dest_dataset, "ACR")
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("date_acr", "DATE"),
                              bq_field("acr", "INT64")))
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
bq_table_upload(dest_table, renal_AL, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')

# Renal disease: eGFR
dest_table <- bq_table(dest_dataset, "eGFR")
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("date_egfr", "DATE"),
                              bq_field("egfr", "INT64")))
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
bq_table_upload(dest_table, renal_EGFR, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')

In [35]:
colnames(BMI)
class(BMI$bmi_value)
colnames(bp)

[1] "person_id" "date_bmi"  "bmi"       "bmi_value"

[1] "numeric"

[1] "person_id"      "date_bp"        "blood_pressure" "sbp_value"
[5] "dbp_value"