In [2]:
library(bigrquery)
library(tidyverse)
#install.packages("labelled")
library(labelled)

In [3]:
# Store the project ID
projectid = "yhcr-prd-phm-bia-core"

In [4]:
# Load person table
sql1 <- "SELECT person_id, birth_datetime, death_datetime, gender_source_value, ethnicity_concept_id FROM `yhcr-prd-phm-bia-core.CB_FDM_MASTER.person`
WHERE ethnicity_concept_id = 46285833
OR ethnicity_concept_id = 46285834
OR ethnicity_concept_id = 46285831
OR ethnicity_concept_id = 46285832
OR ethnicity_concept_id = 46285835
OR ethnicity_concept_id = 46286811
OR ethnicity_concept_id = 46285836
OR ethnicity_concept_id = 46285837
OR ethnicity_concept_id = 46285829
OR ethnicity_concept_id = 46285839
OR ethnicity_concept_id = 46285828
OR ethnicity_concept_id = 46285827
OR ethnicity_concept_id = 46285830
OR ethnicity_concept_id = 46285838
OR ethnicity_concept_id = 46285839
OR ethnicity_concept_id = 46286810
OR ethnicity_concept_id = 46285825
OR ethnicity_concept_id = 46285824
OR ethnicity_concept_id = 46285826
OR ethnicity_concept_id = 46286810"

In [5]:
tb1 <- bq_project_query(projectid, sql1)

In [6]:
pat1 <-bq_table_download(tb1) # store data in tibble

In [7]:
nrow(pat1)

[1] 1653478

In [8]:
patient <- pat1 %>%
    mutate(gender = case_when(
        gender_source_value == "M" | gender_source_value == "Male" ~ 1,
        gender_source_value == "F" | gender_source_value == "Female" ~ 2)) %>%
    select(-gender_source_value) %>%
  mutate(ethnicity = case_when(
    ethnicity_concept_id == "46286810" | ethnicity_concept_id == "46285826" | ethnicity_concept_id == "46285825" | ethnicity_concept_id == "46285824" ~ 1,
    ethnicity_concept_id == "46285832" | ethnicity_concept_id == "46285833" | ethnicity_concept_id == "46285831" ~ 2,
    TRUE ~ 3)) %>%
select(-ethnicity_concept_id)

In [9]:
table(patient$gender)
table(patient$ethnicity)

     1      2
683777 725157

      1       2       3
1173486  318605  161387

In [10]:
# Load imd by lsoa, and person lsoa
lsoa <- "SELECT * FROM `yhcr-prd-phm-bia-core.CB_LOOKUPS.tbl_person_lsoa`"
tb <- bq_project_query(projectid, lsoa)
lsoa <-bq_table_download(tb)

In [11]:
imd_lsoa <- "SELECT LSOA_code, Index_of_Multiple_Deprivation_Decile FROM `yhcr-prd-phm-bia-core.CB_LOOKUPS.tbl_IMD_by_LSOA`"
tb1 <- bq_project_query(projectid, imd_lsoa)
imd_lsoa <- bq_table_download(tb1)

In [12]:
imd_lsoa <- imd_lsoa %>%
rename(lsoa = LSOA_code) %>%
rename(imd_decile = Index_of_Multiple_Deprivation_Decile)
head(imd_lsoa)
head(lsoa)

  lsoa      imd_decile
1 E01010700 1
2 E01010700 1
3 E01010700 1
4 E01010700 1
5 E01010700 1
6 E01010700 1

  person_id lsoa      datasetref
1 12649844  E01010568 gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
2   728178  E01010568 gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
3 12812078  E01010568 gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
4 12479180  E01010568 gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
5 12663673  E01010568 gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
6 13585518  E01010568 gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa

In [13]:
imd_person <- full_join(lsoa, imd_lsoa, by = "lsoa")
imd_person <- imd_person[!duplicated(imd_person$person_id),]
imd_person <- imd_person %>% select(-lsoa)
head(imd_person)
sum(is.na(imd_person$imd_decile))
imd_person <- imd_person[!is.na(imd_person$imd_decile),]
nrow(imd_person)

Warning message in full_join(lsoa, imd_lsoa, by = "lsoa"):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 1 of `x` matches multiple rows in `y`.
ℹ Row 13893 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”

  person_id datasetref
1 12649844  gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
2   728178  gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
3 12812078  gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
4 12479180  gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
5 12663673  gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
6 13585518  gp_address_full_s_joinedto_lookup_pseudonymised_uprn_lsoa
  imd_decile
1 7
2 7
3 7
4 7
5 7
6 7

[1] 466672

[1] 1098937

In [14]:
table(imd_person$imd_decile)
384207+105922
128678+104455
78357+95040
66898+60152
48298+26930

     1      2      3      4      5      6      7      8      9     10
384207 105922 128678 104455  78357  95040  66898  60152  48298  26930

[1] 490129

[1] 233133

[1] 173397

[1] 127050

[1] 75228

In [15]:
pat_imd <- left_join(patient, imd_person, by = "person_id")

In [16]:
pat_imd <- pat_imd %>%
    filter(!duplicated(pat_imd))

In [17]:
pat_imd <- pat_imd %>%
    filter(!is.na(imd_decile))

In [18]:
pat_imd <- pat_imd %>%
    filter(!is.na(gender))

In [19]:
head(pat_imd)
nrow(pat_imd)
patient <- pat_imd

  person_id birth_datetime death_datetime gender ethnicity
1 7265307   2012-02-15     <NA>           1      1
2 6883640   1956-04-15     <NA>           1      1
3 8537347   1992-04-15     <NA>           1      1
4 8649877   2012-04-15     <NA>           1      1
5 7139168   2008-06-15     <NA>           1      1
6 9012909   2020-07-15     <NA>           1      1
  datasetref              imd_decile
1 src_Demographics_Master 5
2 src_Demographics_Master 7
3 src_Demographics_Master 8
4 src_Demographics_Master 8
5 src_Demographics_Master 9
6 src_Demographics_Master 5

[1] 784186

In [20]:
patient$birth_datetime <- as.Date(patient$birth_datetime)
patient$death_datetime <- as.Date(patient$death_datetime)

In [21]:
head(patient)
sum(duplicated(patient))
patient <- patient %>% select(-datasetref)

  person_id birth_datetime death_datetime gender ethnicity
1 7265307   2012-02-15     <NA>           1      1
2 6883640   1956-04-15     <NA>           1      1
3 8537347   1992-04-15     <NA>           1      1
4 8649877   2012-04-15     <NA>           1      1
5 7139168   2008-06-15     <NA>           1      1
6 9012909   2020-07-15     <NA>           1      1
  datasetref              imd_decile
1 src_Demographics_Master 5
2 src_Demographics_Master 7
3 src_Demographics_Master 8
4 src_Demographics_Master 8
5 src_Demographics_Master 9
6 src_Demographics_Master 5

[1] 0

In [23]:
table(patient$gender)
table(patient$ethnicity)
table(patient$imd_decile)
290711+77500
93078+74043
53405+63714
42832+40513
30533+17857

     1      2
385987 398199

     1      2      3
495036 202615  86535

     1      2      3      4      5      6      7      8      9     10
290711  77500  93078  74043  53405  63714  42832  40513  30533  17857

[1] 368211

[1] 167121

[1] 117119

[1] 83345

[1] 48390

In [24]:
bq_auth()

In [ ]:
# set destination table - do this regardless of whether it already exists
dest_dataset <- bq_dataset("yhcr-prd-phm-bia-core","CB_MYSPACE_AH")
dest_table <- bq_table(dest_dataset, "Patient_Denom")

# create a full table spec as follows
# then pass this to bq_table_upload
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("birth_datetime", "DATE"),
                              bq_field("death_datetime", "DATE"),
                              bq_field("gender", "INT64"),
                              bq_field("ethnicity", "INT64"),
                              bq_field("imd_decile", "INT64")))

# delete an existing table if necessary
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
# upload file_data to dest_table
bq_table_upload(dest_table, patient, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')