In [1]:
library(bigrquery)
library(tidyverse)
library(lubridate)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# Store the project ID
projectid = "yhcr-prd-phm-bia-core"

In [3]:
# Set your query
sql1 <- "SELECT * FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_AH.Type1Diabetes`"
sql2 <- "SELECT * FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_AH.Type2Diabetes`"
sql3 <- "SELECT * FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_AH.Diabetic_Meds`"

# Run the query; this returns a bq_table object that you can query further
tb1 <- bq_project_query(projectid, sql1)
tb2 <- bq_project_query(projectid, sql2)
tb3 <- bq_project_query(projectid, sql3)

# Store data in a tibble
t1d <-bq_table_download(tb1)
t2d <-bq_table_download(tb2)
meds <-bq_table_download(tb3)

In [4]:
# join t1d and t2d tables
diabetes <- full_join(t1d, t2d, by = "person_id")
head(diabetes)
rm(t1d, t2d)

  person_id src_dateevent.x t1d_status src_dateevent.y t2d_status
1 12822328  2007-11-07      1          <NA>            NA
2   711752  2009-12-14      1          <NA>            NA
3 13561032  2009-12-14      1          <NA>            NA
4 12763062  2014-02-27      1          <NA>            NA
5 12883541  2014-02-27      1          2011-10-28       1
6 13481752  2015-07-24      1          <NA>            NA

In [5]:
diabetes <- diabetes %>%
    mutate(t1d_status = ifelse(is.na(t1d_status),0,1)) %>%
    mutate(t2d_status = ifelse(is.na(t2d_status),0,1)) %>%
    rename(date_t1d_diag = src_dateevent.x) %>%
    rename(date_t2d_diag = src_dateevent.y) %>%
    mutate(any_diabetes = ifelse(t1d_status == 1 | t2d_status == 1,1,0))

head(diabetes)

  person_id date_t1d_diag t1d_status date_t2d_diag t2d_status any_diabetes
1 12822328  2007-11-07    1          <NA>          0          1
2   711752  2009-12-14    1          <NA>          0          1
3 13561032  2009-12-14    1          <NA>          0          1
4 12763062  2014-02-27    1          <NA>          0          1
5 12883541  2014-02-27    1          2011-10-28    1          1
6 13481752  2015-07-24    1          <NA>          0          1

In [7]:
nrow(diabetes)
print("type 1 and type 2 diabetes")
table(diabetes$t1d_status, diabetes$t2d_status)
print("type 1 diabetes")
table(diabetes$t1d_status)
print("type 2 diabetes")
table(diabetes$t2d_status)
sum(duplicated(diabetes))

[1] 58973

[1] "type 1 and type 2 diabetes"

        0     1
  0     0 55923
  1  2371   679

[1] "type 1 diabetes"

    0     1
55923  3050

[1] "type 2 diabetes"

    0     1
 2371 56602

[1] 0

In [8]:
# Join patient table to diabetes patients
sql3 <- "SELECT * FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_AH.Patient_Denom`"
tb3 <- bq_project_query(projectid, sql3)
patient <- bq_table_download(tb3)
head(patient)

  person_id birth_datetime death_datetime gender ethnicity imd_decile
1 16813063  <NA>           <NA>           2      2         1
2 16832562  <NA>           <NA>           1      3         1
3 16769967  <NA>           <NA>           1      1         1
4 16832450  <NA>           <NA>           1      2         1
5 16814272  <NA>           <NA>           1      2         1
6 13715865  <NA>           <NA>           1      2         1

In [9]:
sum(is.na(patient$birth_datetime))
nrow(patient)

[1] 39

[1] 784186

In [10]:
diabetes_patient <- inner_join(patient, diabetes, by = "person_id")
head(diabetes_patient)

  person_id birth_datetime death_datetime gender ethnicity imd_decile
1 12736614  1931-06-15     2012-11-15     1      1         1
2 12663073  1931-06-15     2014-12-15     2      2         1
3 12679588  1931-06-15     <NA>           2      1         1
4 13203209  1931-06-15     2020-01-15     1      2         1
5 12760436  1931-06-15     2020-07-15     1      2         1
6 12602566  1931-06-15     2014-01-15     2      1         1
  date_t1d_diag t1d_status date_t2d_diag t2d_status any_diabetes
1 <NA>          0          2007-01-10    1          1
2 <NA>          0          2010-04-01    1          1
3 <NA>          0          2016-03-30    1          1
4 <NA>          0          2007-09-13    1          1
5 <NA>          0          2009-12-29    1          1
6 <NA>          0          2007-09-06    1          1

In [11]:
# calculate age at diabetes
diabetes_patient$age_t1d_diag <- interval(diabetes_patient$birth_datetime, diabetes_patient$date_t1d_diag) / years(1)
diabetes_patient$age_t1d_diag <- floor(diabetes_patient$age_t1d_diag)
diabetes_patient$age_t2d_diag <- interval(diabetes_patient$birth_datetime, diabetes_patient$date_t2d_diag) / years(1)
diabetes_patient$age_t2d_diag <- floor(diabetes_patient$age_t2d_diag)
head(diabetes_patient)

  person_id birth_datetime death_datetime gender ethnicity imd_decile
1 12736614  1931-06-15     2012-11-15     1      1         1
2 12663073  1931-06-15     2014-12-15     2      2         1
3 12679588  1931-06-15     <NA>           2      1         1
4 13203209  1931-06-15     2020-01-15     1      2         1
5 12760436  1931-06-15     2020-07-15     1      2         1
6 12602566  1931-06-15     2014-01-15     2      1         1
  date_t1d_diag t1d_status date_t2d_diag t2d_status any_diabetes age_t1d_diag
1 <NA>          0          2007-01-10    1          1            NA
2 <NA>          0          2010-04-01    1          1            NA
3 <NA>          0          2016-03-30    1          1            NA
4 <NA>          0          2007-09-13    1          1            NA
5 <NA>          0          2009-12-29    1          1            NA
6 <NA>          0          2007-09-06    1          1            NA
  age_t2d_diag
1 75
2 78
3 84
4 76
5 78
6 76

In [12]:
# age at earliest diabetes 
diabetes_patient <- diabetes_patient %>%
    mutate(age_earliest_diabetes = case_when(
    (age_t1d_diag <= age_t2d_diag) | is.na(age_t2d_diag) ~ age_t1d_diag,
    (age_t1d_diag > age_t2d_diag) | is.na(age_t1d_diag) ~ age_t2d_diag)) %>%
select(-gender, -ethnicity, -imd_decile)
sum(is.na(diabetes_patient$birth_datetime))
nrow(diabetes_patient)

[1] 0

[1] 44250

In [13]:
table(diabetes_patient$t2d_status)

    0     1
 1661 42589

In [14]:
(15228/43568)*100

[1] 34.95226

In [15]:
# add date at earliest diabetes
diabetes_patient <- diabetes_patient %>%
    mutate(date_earliest_diabetes = case_when(
    (date_t1d_diag <= date_t2d_diag) | is.na(date_t2d_diag) ~ date_t1d_diag,
    (date_t1d_diag > date_t2d_diag) | is.na(date_t1d_diag) ~ date_t2d_diag,
    is.na(date_t1d_diag) & is.na(date_t2d_diag) ~ NA))
head(diabetes_patient)

  person_id birth_datetime death_datetime date_t1d_diag t1d_status
1 12736614  1931-06-15     2012-11-15     <NA>          0
2 12663073  1931-06-15     2014-12-15     <NA>          0
3 12679588  1931-06-15     <NA>           <NA>          0
4 13203209  1931-06-15     2020-01-15     <NA>          0
5 12760436  1931-06-15     2020-07-15     <NA>          0
6 12602566  1931-06-15     2014-01-15     <NA>          0
  date_t2d_diag t2d_status any_diabetes age_t1d_diag age_t2d_diag
1 2007-01-10    1          1            NA           75
2 2010-04-01    1          1            NA           78
3 2016-03-30    1          1            NA           84
4 2007-09-13    1          1            NA           76
5 2009-12-29    1          1            NA           78
6 2007-09-06    1          1            NA           76
  age_earliest_diabetes date_earliest_diabetes
1 75                    2007-01-10
2 78                    2010-04-01
3 84                    2016-03-30
4 76                    2007-09-13
5 78                    2009-12-29
6 76                    2007-09-06

In [17]:
nrow(diabetes_patient)
table(diabetes_patient$t1d_status)
table(diabetes_patient$t2d_status)
table(diabetes_patient$t1d_status, diabetes_patient$t2d_status)

[1] 44250

    0     1
42084  2166

    0     1
 1661 42589

        0     1
  0     0 42084
  1  1661   505

In [18]:
# Join medication data to diabetes_patient
dm <- full_join(diabetes_patient, meds, by = "person_id")

In [20]:
nrow(dm)

[1] 44278

[1] 0

In [21]:
# Remove females who are less than 50 who are on metformin but don't have a diabetes diagnostic code
dm <- dm %>%
    mutate(diab_date_present = ifelse(!is.na(date_earliest_diabetes),1,0)) %>% # 1 = diabetes date is present i.e. patient has diabetes diagnostic code
    mutate(metformin_pls_5yrs = (date_metformin %m+% years(5))) %>% # calculate 5 years from metformin prescription
    mutate(diab_met_diff = abs(floor(difftime(date_earliest_diabetes, date_metformin, units = c("days"))))) %>% # absolute number of days between diabetes diagnosis date and metformin date - if >1826 days, drop
    mutate(diab_met_diff = as.integer(diab_met_diff))

In [22]:
dm %>%
select(date_earliest_diabetes, diab_date_present, metformin_pls_5yrs, diab_met_diff, met_fe_lsthn_50, met_plus, gender) %>%
filter(!is.na(diab_met_diff)) %>%
arrange(desc(diab_met_diff))

   date_earliest_diabetes diab_date_present metformin_pls_5yrs diab_met_diff
1  2007-02-08             1                 2021-06-08         3408
2  2007-05-10             1                 2021-08-22         3392
3  2018-07-06             1                 2014-12-01         3139
4  2021-11-25             1                 2019-09-24         2619
5  2017-10-18             1                 2015-09-22         2583
6  2016-03-08             1                 2014-04-29         2505
7  2007-01-22             1                 2018-02-19         2220
8  2011-09-22             1                 2021-11-08         1874
9  2008-07-01             1                 2018-04-23         1757
10 2011-09-22             1                 2012-02-01         1694
11 2007-01-04             1                 2016-07-19         1657
12 2007-03-05             1                 2016-04-11         1498
13 2012-01-01             1                 2021-02-04         1495
14 2010-12-08             1                 2012-02-12         1395
15 2008-04-07             1                 2016-04-07         1095
16 2007-08-23             1                 2015-08-18         1091
17 2008-04-24             1                 2016-02-09         1021
18 2007-12-28             1                 2015-07-16          931
19 2007-09-10             1                 2015-03-04          906
20 2008-07-04             1                 2015-12-22          901
21 2008-02-28             1                 2015-08-10          894
22 2007-06-05             1                 2014-09-16          834
23 2007-07-31             1                 2014-09-11          773
24 2009-06-08             1                 2016-07-05          757
25 2008-11-12             1                 2015-11-04          722
26 2010-05-05             1                 2017-04-05          701
27 2008-05-08             1                 2015-03-12          673
28 2009-11-05             1                 2016-08-26          659
29 2015-05-29             1                 2021-12-06          557
30 2009-07-30             1                 2015-11-24          482
31 2009-07-13             1                 2015-09-28          442
32 2008-09-03             1                 2014-11-09          432
33 2009-08-19             1                 2015-07-27          342
34 2009-04-20             1                 2015-01-27          282
35 2010-01-30             1                 2015-09-20          233
36 2009-01-02             1                 2014-08-07          217
37 2007-03-16             1                 2012-01-19           56
38 2010-03-11             1                 2015-04-21           41
39 2016-04-03             1                 2021-04-04            1
   met_fe_lsthn_50 met_plus gender
1  0               2        2
2  0               2        1
3  0               2        1
4  0               2        2
5  0               1        2
6  0               2        1
7  0               2        2
8  0               2        1
9  0               2        1
10 0               2        1
11 0               1        2
12 0               2        2
13 0               2        1
14 0               1        1
15 0               1        2
16 0               1        1
17 0               1        2
18 0               1        2
19 0               1        2
20 0               1        1
21 0               2        2
22 0               1        2
23 0               2        2
24 0               2        1
25 0               1        2
26 0               1        2
27 0               2        1
28 0               1        1
29 1               2        2
30 0               1        2
31 0               1        1
32 0               1        2
33 0               1        1
34 0               2        1
35 0               2        1
36 0               1        2
37 0               1        2
38 0               1        2
39 0               2        1

In [18]:
colnames(dm)

 [1] "person_id"              "birth_datetime"         "death_datetime"
 [4] "date_t1d_diag"          "t1d_status"             "date_t2d_diag"
 [7] "t2d_status"             "any_diabetes"           "age_t1d_diag"
[10] "age_t2d_diag"           "age_earliest_diabetes"  "date_earliest_diabetes"
[13] "gender"                 "date_metformin"         "age_metformin"
[16] "has_metformin"          "date_thiazolid"         "age_thiazolid"
[19] "has_thiazolid"          "date_gliptins"          "age_gliptins"
[22] "has_gliptins"           "date_sulfon"            "age_sulfon"
[25] "has_sulfon"             "date_glpra"             "age_glpra"
[28] "has_glpra"              "date_glucinhib"         "age_glucinhib"
[31] "has_glucinhib"          "date_combo"             "age_combo"
[34] "has_combo"              "date_insulin"           "age_insulin"
[37] "has_insulin"            "date_earliest_med"      "met_plus"
[40] "met_diab"               "met_earliest"           "met_fe_lsthn_50"
[43] "diab_date_present"      "metformin_pls_5yrs"     "diab_met_diff"

In [23]:
# diabetes diagnosis from medications, choose earliest diabetes diagnosis date between earliest date and earliest med, calculate age at earliest diabetes diag
dm <- dm %>%
    mutate(diabetes_meds = ifelse(is.na(date_earliest_diabetes) & (has_metformin == 1 | has_thiazolid == 1 | has_gliptins == 1 | has_sulfon == 1 | has_glpra == 1 |
                                                                  has_glucinhib == 1 | has_combo == 1 | has_insulin == 1),1,0)) %>%
    mutate(earliest_diabetes_diag = case_when(
    (date_earliest_diabetes <= date_earliest_med) | is.na(date_earliest_med) ~ date_earliest_diabetes,
    (date_earliest_diabetes > date_earliest_med) | is.na(date_earliest_diabetes) ~ date_earliest_med)) %>%
    mutate(age_earliest_diab = floor(interval(birth_datetime, earliest_diabetes_diag) / years(1))) %>%
    # time between diabetes and death
    mutate(diab_death_time = abs(difftime(earliest_diabetes_diag, death_datetime, units = "days")),
          diab_death_time = as.integer(diab_death_time))

In [24]:
dm <- dm %>% select(person_id, date_t1d_diag, age_t1d_diag, t1d_status, date_t2d_diag, age_t2d_diag, t2d_status, any_diabetes, diabetes_meds, age_earliest_diab, earliest_diabetes_diag, diab_death_time)

In [25]:
nrow(dm)
table(dm$t1d_status)
table(dm$t2d_status)
table(dm$t1d_status, dm$t2d_status)
table(dm$any_diabetes)

[1] 44278

    0     1
42084  2166

    0     1
 1661 42589

        0     1
  0     0 42084
  1  1661   505

    1
44250

In [21]:
colnames(dm)

 [1] "person_id"              "date_t1d_diag"          "age_t1d_diag"
 [4] "t1d_status"             "date_t2d_diag"          "age_t2d_diag"
 [7] "t2d_status"             "any_diabetes"           "diabetes_meds"
[10] "age_earliest_diab"      "earliest_diabetes_diag" "diab_death_time"

In [26]:
# set destination table - do this regardless of whether it already exists
dest_dataset <- bq_dataset("yhcr-prd-phm-bia-core","CB_MYSPACE_AH")
dest_table <- bq_table(dest_dataset, "Diabetes")

# create a full table spec as follows
# then pass this to bq_table_upload
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("age_t1d_diag", "INT64"),
                              bq_field("date_t1d_diag", "DATE"),
                              bq_field("t1d_status", "INT64"),
                              bq_field("age_t2d_diag", "INT64"),
                              bq_field("date_t2d_diag", "DATE"),
                              bq_field("t2d_status", "INT64"),
                              bq_field("age_earliest_diab", "INT64"),
                              bq_field("earliest_diabetes_diag", "DATE"),
                              bq_field("any_diabetes", "INT64"),
                              bq_field("diab_death_time", "INT64"),
                              bq_field("diabetes_meds", "INT64")
))

# delete an existing table if necessary
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
# upload file_data to dest_table
bq_table_upload(dest_table, dm, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')

In [23]:
sum(is.na(diabetes_patient$gender))

Warning message:
“Unknown or uninitialised column: `gender`.”

[1] 0

In [21]:
nrow(diabetes_patient)

[1] 28340

In [ ]:
43568-15244