In [1]:
library(bigrquery)
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# Store the project ID
projectid = "yhcr-prd-phm-bia-core"

In [3]:
# Angina: Primary care between 2002-2022
sql1 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%G311.%' OR src_ctv3code LIKE '%G31y0%' OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G33..%'
OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G33..%'
OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G33..%' OR src_ctv3code LIKE '%G3300%' OR src_ctv3code LIKE '%G331.%' OR src_ctv3code LIKE '%G33z3%')"
tb1 <- bq_project_query(projectid, sql1)
angina <-bq_table_download(tb1) # store data in tibble

# Cardiomyopathy: Primary care between 2002-2022
sql2 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%C3733%' OR src_ctv3code LIKE '%C3733%' OR src_ctv3code LIKE '%G343.%' OR src_ctv3code LIKE '%G55..%'
OR src_ctv3code LIKE '%G55..%' OR src_ctv3code LIKE '%G55..%' OR src_ctv3code LIKE '%G55..%' OR src_ctv3code LIKE '%G55..%' OR src_ctv3code LIKE '%G55..%' OR src_ctv3code LIKE '%G55..%' 
OR src_ctv3code LIKE '%G55..%' OR src_ctv3code LIKE '%G55..%' OR src_ctv3code LIKE '%G550.%' OR src_ctv3code LIKE '%G551.%' OR src_ctv3code LIKE '%G554.%' OR src_ctv3code LIKE '%G5541%'
OR src_ctv3code LIKE '%G5543%' OR src_ctv3code LIKE '%G5544%' OR src_ctv3code LIKE '%G556.%' OR src_ctv3code LIKE '%G556.%' OR src_ctv3code LIKE '%G556.%' OR src_ctv3code LIKE '%G556.%'
OR src_ctv3code LIKE '%G557.%' OR src_ctv3code LIKE '%G557.%' OR src_ctv3code LIKE '%G5572%' OR src_ctv3code LIKE '%G5574%' OR src_ctv3code LIKE '%G5574%' OR src_ctv3code LIKE '%G558.%' 
OR src_ctv3code LIKE '%G5580%' OR src_ctv3code LIKE '%G5581%' OR src_ctv3code LIKE '%G55y0%' OR src_ctv3code LIKE '%G5y1.%' OR src_ctv3code LIKE '%Gyu5Q%' OR src_ctv3code LIKE '%Gyu5S%'
OR src_ctv3code LIKE '%X708p%' OR src_ctv3code LIKE '%X776w%' OR src_ctv3code LIKE '%XaI9b%')"
tb2 <- bq_project_query(projectid, sql2)
cardiomyopathy <-bq_table_download(tb2) # store data in tibble

# Heart Failure: Primary care between 2002-2022
sql3 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%G1yz1%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%'
OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%'
OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G58..%' OR src_ctv3code LIKE '%G580.%'
OR src_ctv3code LIKE '%G5802%' OR src_ctv3code LIKE '%G5810%' OR src_ctv3code LIKE '%G5810%' OR src_ctv3code LIKE '%G5810%' OR src_ctv3code LIKE '%G5810%' OR src_ctv3code LIKE '%G5y4.%')"
tb3 <- bq_project_query(projectid, sql3)
heart_failure <-bq_table_download(tb3) # store data in tibble

# Hypertension: Primary care between 2002-2022
sql4 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%61462%' OR src_ctv3code LIKE '%G2...%' OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%'
OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%'
OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G20..%' OR src_ctv3code LIKE '%G200.%' OR src_ctv3code LIKE '%G200.%'
OR src_ctv3code LIKE '%G200.%' OR src_ctv3code LIKE '%G22z.%' OR src_ctv3code LIKE '%G24..%' OR src_ctv3code LIKE '%G24..%' OR src_ctv3code LIKE '%G24..%' OR src_ctv3code LIKE '%G2400%'
OR src_ctv3code LIKE '%G244.%' OR src_ctv3code LIKE '%Gyu21%' OR src_ctv3code LIKE '%L12..%' OR src_ctv3code LIKE '%L120.%' OR src_ctv3code LIKE '%L121.%' OR src_ctv3code LIKE '%L122.%'
OR src_ctv3code LIKE '%L125.%' OR src_ctv3code LIKE '%L1250%' OR src_ctv3code LIKE '%L126.%' OR src_ctv3code LIKE '%L1261%' OR src_ctv3code LIKE '%L1263%' OR src_ctv3code LIKE '%X40By%'
OR src_ctv3code LIKE '%X40Bz%' OR src_ctv3code LIKE '%X40C2%' OR src_ctv3code LIKE '%X40C3%' OR src_ctv3code LIKE '%XaBE0%')"
tb4 <- bq_project_query(projectid, sql4)
hypertension <-bq_table_download(tb4) # store data in tibble

# Ischaemic Heart Disease: Primary care between 2002-2022
sql5 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%G30y0%' OR src_ctv3code LIKE '%G30y1%' OR src_ctv3code LIKE '%G30y2%' OR src_ctv3code LIKE '%G31..%'
OR src_ctv3code LIKE '%G34..%' OR src_ctv3code LIKE '%G3400%' OR src_ctv3code LIKE '%G341.%' OR src_ctv3code LIKE '%G3413%' OR src_ctv3code LIKE '%G34y1%' OR src_ctv3code LIKE '%G363.%'
OR src_ctv3code LIKE '%X200C%' OR src_ctv3code LIKE '%X200C%' OR src_ctv3code LIKE '%X200d%')"
tb5 <- bq_project_query(projectid, sql5)
ihd <-bq_table_download(tb5) # store data in tibble

# Myocardial Infarction: Primary care between 2002-2022
sql6 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%G300.%' OR src_ctv3code LIKE '%G300.%' OR src_ctv3code LIKE '%G302.%' OR src_ctv3code LIKE '%G302.%'
OR src_ctv3code LIKE '%G35..%' OR src_ctv3code LIKE '%G353.%' OR src_ctv3code LIKE '%Gyu34%' OR src_ctv3code LIKE '%X200W%' OR src_ctv3code LIKE '%XE0Uh%' OR src_ctv3code LIKE '%XE0Uh%')"
tb6 <- bq_project_query(projectid, sql6)
mi <-bq_table_download(tb6) # store data in tibble

# Peripheral Vascular Disease: Primary care between 2002-2022
sql7 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%G73y.%' OR src_ctv3code LIKE '%G73y0%' OR src_ctv3code LIKE '%G73y0%' OR src_ctv3code LIKE '%G73y0%'
OR src_ctv3code LIKE '%G73y0%' OR src_ctv3code LIKE '%G73y0%' OR src_ctv3code LIKE '%G73y0%' OR src_ctv3code LIKE '%G73y0%' OR src_ctv3code LIKE '%G73y0%' OR src_ctv3code LIKE '%G73y0%' OR src_ctv3code LIKE '%Xa0lV%')"
tb7 <- bq_project_query(projectid, sql7)
pvd <-bq_table_download(tb7) # store data in tibble

# Stroke: Primary care between 2002-2022
sql8 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%XaBM5%' OR src_ctv3code LIKE '%XaBM5%' OR src_ctv3code LIKE '%XaBM5%' OR src_ctv3code LIKE '%Gyu62%'
OR src_ctv3code LIKE '%G65..%' OR src_ctv3code LIKE '%XE0VK%' OR src_ctv3code LIKE '%X00DU%' OR src_ctv3code LIKE '%X00DW%' OR src_ctv3code LIKE '%Xa00T%' OR src_ctv3code LIKE '%Xa01k%'
OR src_ctv3code LIKE '%G610.%' OR src_ctv3code LIKE '%Xa00M%' OR src_ctv3code LIKE '%Xa00M%' OR src_ctv3code LIKE '%G662.%' OR src_ctv3code LIKE '%G662.%' OR src_ctv3code LIKE '%G613.%'
OR src_ctv3code LIKE '%G613.%' OR src_ctv3code LIKE '%G613.%' OR src_ctv3code LIKE '%G63y1%' OR src_ctv3code LIKE '%G601.%' OR src_ctv3code LIKE '%XaJgQ%' OR src_ctv3code LIKE '%14AB.%'
OR src_ctv3code LIKE '%Gyu6F%' OR src_ctv3code LIKE '%G668.%' OR src_ctv3code LIKE '%G668.%' OR src_ctv3code LIKE '%G668.%' OR src_ctv3code LIKE '%G668.%' OR src_ctv3code LIKE '%G668.%'
OR src_ctv3code LIKE '%G668.%' OR src_ctv3code LIKE '%Xa00K%' OR src_ctv3code LIKE '%G641.%' OR src_ctv3code LIKE '%G641.%' OR src_ctv3code LIKE '%G641.%' OR src_ctv3code LIKE '%G641.%'
OR src_ctv3code LIKE '%G641.%' OR src_ctv3code LIKE '%XaQbK%' OR src_ctv3code LIKE '%X00DB%' OR src_ctv3code LIKE '%Xa1uW%' OR src_ctv3code LIKE '%Xa1uW%' OR src_ctv3code LIKE '%Xa1uW%'
OR src_ctv3code LIKE '%Xa1uW%' OR src_ctv3code LIKE '%Gyu66%' OR src_ctv3code LIKE '%G654.%' OR src_ctv3code LIKE '%Xa01h%' OR src_ctv3code LIKE '%G660.%' OR src_ctv3code LIKE '%G660.%'
OR src_ctv3code LIKE '%G615.%' OR src_ctv3code LIKE '%G63y0%' OR src_ctv3code LIKE '%Gyu6G%' OR src_ctv3code LIKE '%XaQbM%' OR src_ctv3code LIKE '%F4236%' OR src_ctv3code LIKE '%G618.%'
OR src_ctv3code LIKE '%Fyu55%' OR src_ctv3code LIKE '%Gyu60%' OR src_ctv3code LIKE '%G600.%' OR src_ctv3code LIKE '%XaBL3%' OR src_ctv3code LIKE '%G617.%' OR src_ctv3code LIKE '%X00E2%'
OR src_ctv3code LIKE '%X00E2%' OR src_ctv3code LIKE '%G65z0%' OR src_ctv3code LIKE '%G6760%' OR src_ctv3code LIKE '%Xa01l%' OR src_ctv3code LIKE '%G661.%' OR src_ctv3code LIKE '%G661.%'
OR src_ctv3code LIKE '%Fyu56%' OR src_ctv3code LIKE '%Gyu64%' OR src_ctv3code LIKE '%Gyu61%' OR src_ctv3code LIKE '%G606.%' OR src_ctv3code LIKE '%XE0VF%' OR src_ctv3code LIKE '%XE0VF%'
OR src_ctv3code LIKE '%G664.%' OR src_ctv3code LIKE '%Xa01j%' OR src_ctv3code LIKE '%G6...%' OR src_ctv3code LIKE '%G6...%' OR src_ctv3code LIKE '%G6...%' OR src_ctv3code LIKE '%G6...%'
OR src_ctv3code LIKE '%X204A%' OR src_ctv3code LIKE '%Xa3fW%' OR src_ctv3code LIKE '%XE0Wy%' OR src_ctv3code LIKE '%XE0Wy%' OR src_ctv3code LIKE '%XM0rV%' OR src_ctv3code LIKE '%XM0rV%' OR src_ctv3code LIKE '%Gyu65%')"
tb8 <- bq_project_query(projectid, sql8)
stroke <-bq_table_download(tb8) # store data in tibble

# Valve Disease: Primary care between 2002-2022
sql9 <- "SELECT person_id, src_dateevent, src_ctv3code, src_ctv3text FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_v5.tbl_SRCode` 
WHERE src_dateevent BETWEEN '2002-01-01' AND '2022-12-31' AND (src_ctv3code LIKE '%G11..%' OR src_ctv3code LIKE '%G11..%' OR src_ctv3code LIKE '%G11..%' OR src_ctv3code LIKE '%G11..%'
OR src_ctv3code LIKE '%G11..%' OR src_ctv3code LIKE '%G11..%' OR src_ctv3code LIKE '%G110.%' OR src_ctv3code LIKE '%G111.%' OR src_ctv3code LIKE '%G111.%' OR src_ctv3code LIKE '%G111.%'
OR src_ctv3code LIKE '%G113.%' OR src_ctv3code LIKE '%G12..%' OR src_ctv3code LIKE '%G12..%' OR src_ctv3code LIKE '%G120.%' OR src_ctv3code LIKE '%G120.%' OR src_ctv3code LIKE '%G120.%'
OR src_ctv3code LIKE '%G121.%' OR src_ctv3code LIKE '%G140.%' OR src_ctv3code LIKE '%G1400%' OR src_ctv3code LIKE '%G1400%' OR src_ctv3code LIKE '%G1401%' OR src_ctv3code LIKE '%G140z%'
OR src_ctv3code LIKE '%G1410%' OR src_ctv3code LIKE '%G364.%' OR src_ctv3code LIKE '%G365.%' OR src_ctv3code LIKE '%G540.%' OR src_ctv3code LIKE '%G5400%' OR src_ctv3code LIKE '%G540z%'
OR src_ctv3code LIKE '%G541.%' OR src_ctv3code LIKE '%G541.%' OR src_ctv3code LIKE '%G541.%' OR src_ctv3code LIKE '%G5410%' OR src_ctv3code LIKE '%G5410%' OR src_ctv3code LIKE '%G5411%'
OR src_ctv3code LIKE '%G5411%' OR src_ctv3code LIKE '%G5411%' OR src_ctv3code LIKE '%G542.%' OR src_ctv3code LIKE '%G542.%' OR src_ctv3code LIKE '%G5420%' OR src_ctv3code LIKE '%G5421%'
OR src_ctv3code LIKE '%G5422%' OR src_ctv3code LIKE '%G542z%' OR src_ctv3code LIKE '%G543.%' OR src_ctv3code LIKE '%G543.%' OR src_ctv3code LIKE '%G543.%' OR src_ctv3code LIKE '%G543.%'
OR src_ctv3code LIKE '%G543.%' OR src_ctv3code LIKE '%G543.%' OR src_ctv3code LIKE '%G5430%' OR src_ctv3code LIKE '%G5431%' OR src_ctv3code LIKE '%G5434%' OR src_ctv3code LIKE '%G544.%'
OR src_ctv3code LIKE '%G544.%' OR src_ctv3code LIKE '%G544.%' OR src_ctv3code LIKE '%G54z.%' OR src_ctv3code LIKE '%G54z4%' OR src_ctv3code LIKE '%G5y6.%' OR src_ctv3code LIKE '%Gyu10%'
OR src_ctv3code LIKE '%Gyu11%' OR src_ctv3code LIKE '%Gyu55%' OR src_ctv3code LIKE '%Gyu56%' OR src_ctv3code LIKE '%Gyu57%' OR src_ctv3code LIKE '%Gyu58%' OR src_ctv3code LIKE '%Gyu59%'
OR src_ctv3code LIKE '%Gyu5B%' OR src_ctv3code LIKE '%P601.%' OR src_ctv3code LIKE '%P61..%' OR src_ctv3code LIKE '%P62..%' OR src_ctv3code LIKE '%P65..%' OR src_ctv3code LIKE '%P652.%'
OR src_ctv3code LIKE '%P6y0.%' OR src_ctv3code LIKE '%P7224%' OR src_ctv3code LIKE '%Pyu23%' OR src_ctv3code LIKE '%Pyu2G%' OR src_ctv3code LIKE '%X200s%' OR src_ctv3code LIKE '%X200u%'
OR src_ctv3code LIKE '%X2010%' OR src_ctv3code LIKE '%X2010%' OR src_ctv3code LIKE '%X2019%' OR src_ctv3code LIKE '%X201B%' OR src_ctv3code LIKE '%X201C%' OR src_ctv3code LIKE '%X777Y%'
OR src_ctv3code LIKE '%X778h%' OR src_ctv3code LIKE '%X778h%' OR src_ctv3code LIKE '%X778h%' OR src_ctv3code LIKE '%X778h%' OR src_ctv3code LIKE '%X77vL%' OR src_ctv3code LIKE '%X77zY%'
OR src_ctv3code LIKE '%XE0Ux%' OR src_ctv3code LIKE '%XE2bE%' OR src_ctv3code LIKE '%XM0rP%' OR src_ctv3code LIKE '%XSDVN%' OR src_ctv3code LIKE '%Xa7rt%')"
tb9 <- bq_project_query(projectid, sql9)
valve_disease <-bq_table_download(tb9) # store data in tibble

In [4]:
print("Angina")
head(angina)

print("Cardiomyopathy")
head(cardiomyopathy)

print("Heart Failure")
head(heart_failure)

print("Hypertension")
head(hypertension)

print("IHD")
head(ihd)

print("MI")
head(mi)

print("PVD")
head(pvd)

print("Stroke")
head(stroke)

print("Valve Disease")
head(valve_disease)

[1] "Angina"

  person_id src_dateevent       src_ctv3code src_ctv3text
1 12489933  2003-02-18 00:00:00 G331.        Prinzmetals angina
2 12504346  2002-10-17 14:51:40 G33..        Angina
3 13228924  2009-05-17 00:00:00 G33..        Angina
4 12960863  2006-09-26 11:10:31 G33..        Angina
5 12915303  2002-11-18 00:00:00 G33..        Angina
6   368434  2003-08-22 00:00:00 G33..        Angina

[1] "Cardiomyopathy"

  person_id src_dateevent       src_ctv3code src_ctv3text
1 12401297  2002-08-20 00:00:00 G55..        Cardiomyopathy
2 13334311  2002-01-22 00:00:00 G55..        Cardiomyopathy
3 13537234  2022-08-06 00:00:00 G55..        Cardiomyopathy
4 13564368  2005-03-01 00:00:00 G55..        Cardiomyopathy
5 13757005  2006-12-14 10:41:22 G55..        Cardiomyopathy
6 13628744  2005-09-26 00:00:00 G55..        Cardiomyopathy

[1] "Heart Failure"

  person_id src_dateevent       src_ctv3code src_ctv3text
1 12973168  2011-11-17 12:01:09 G58..        Heart failure
2 13664609  2008-12-16 00:00:00 G58..        Heart failure
3 13432848  2009-01-07 00:00:01 G58..        Heart failure
4 12721987  2019-09-02 00:00:00 G58..        Heart failure
5 12627422  2015-01-13 00:00:01 G58..        Heart failure
6 10432309  2008-02-11 00:00:00 G58..        Heart failure

[1] "Hypertension"

  person_id src_dateevent       src_ctv3code
1 12447282  2002-05-28 11:21:00 G2...
2 12569573  2003-07-28 09:47:00 G2...
3 13207479  2014-02-26 00:00:00 G2...
4 12776288  2003-06-11 18:34:58 G2...
5   776094  2002-07-25 17:39:31 G20..
6  1055056  2002-02-11 15:49:08 G2...
  src_ctv3text
1 Hypertensive disease
2 Hypertensive disease
3 Hypertensive disease
4 Hypertensive disease
5 High blood pressure (& [essential hypertension])
6 Hypertensive disease

[1] "IHD"

  person_id src_dateevent       src_ctv3code src_ctv3text
1 13188721  2004-08-18 00:00:00 G3400        Single coronary vessel disease
2 13083972  2012-08-24 00:00:00 G3400        Single coronary vessel disease
3 13165782  2017-11-28 00:00:01 G3400        Single coronary vessel disease
4 12891725  2011-05-27 09:05:52 G3400        Single coronary vessel disease
5 13622761  2004-03-01 10:20:36 G3400        Single coronary vessel disease
6 13712498  2007-07-06 00:00:00 G3400        Single coronary vessel disease

[1] "MI"

  person_id src_dateevent       src_ctv3code src_ctv3text
1 13169502  2005-04-29 00:00:00 XE0Uh        Acute myocardial infarction
2   754361  2002-08-14 08:53:50 XE0Uh        Acute myocardial infarction
3 13403206  2004-11-10 00:00:00 XE0Uh        Acute myocardial infarction
4 13642837  2005-08-23 00:00:00 XE0Uh        Acute myocardial infarction
5 12586313  2003-08-05 00:00:02 XE0Uh        Acute myocardial infarction
6 13217717  2003-12-18 15:15:00 XE0Uh        Acute myocardial infarction

[1] "PVD"

  person_id src_dateevent       src_ctv3code src_ctv3text
1 12796249  2002-08-09 13:14:30 Xa0lV        Peripheral vascular disease
2 12472859  2019-05-31 00:00:01 Xa0lV        Peripheral vascular disease
3 12882514  2006-10-01 10:36:52 Xa0lV        Peripheral vascular disease
4 12958877  2008-09-03 14:58:48 Xa0lV        Peripheral vascular disease
5   944233  2013-10-23 16:52:39 Xa0lV        Peripheral vascular disease
6 12912825  2019-10-01 00:00:00 Xa0lV        Peripheral vascular disease

[1] "Stroke"

  person_id src_dateevent       src_ctv3code
1 13625614  2004-07-30 00:00:00 G65..
2 12415156  2002-06-11 00:00:00 G65..
3 13270192  2017-06-05 00:00:00 G613.
4   338808  2004-09-03 00:00:00 G65..
5 13743607  2019-09-18 10:39:56 Fyu55
6 12787711  2003-01-02 00:00:00 G65..
  src_ctv3text
1 (Drop attack) or (trans cereb isch) or (verteb-bas
2 (Drop attack) or (trans cereb isch) or (verteb-bas
3 Cerebellar haemorrhage
4 (Drop attack) or (trans cereb isch) or (verteb-bas
5 [X]Other transnt cerebral ischaemic attacks+related syndroms
6 (Drop attack) or (trans cereb isch) or (verteb-basil insuff)

[1] "Valve Disease"

  person_id src_dateevent       src_ctv3code
1  1011726  2003-03-19 14:31:58 G120.
2 13240150  2006-08-11 00:00:01 G11..
3 13226617  2005-10-06 00:00:00 G5420
4 12899545  2002-08-23 00:00:00 G120.
5 13355235  2010-03-19 00:00:00 G543.
6 13275618  2008-03-01 13:12:17 G5430
  src_ctv3text
1 Rheumatic aortic stenosis
2 Mitral valve diseases (& [rheumatic])
3 Tricuspid incompetence non-rheumatic
4 Rheumatic aortic stenosis
5 Pulmonary valve disease
6 Pulmonary incompetence, non-rheumatic

In [4]:
angina <- angina[!duplicated(angina),]
cardiomyopathy <- cardiomyopathy[!duplicated(cardiomyopathy),]
heart_failure <- heart_failure[!duplicated(heart_failure),]
hypertension <- hypertension[!duplicated(hypertension),]
ihd <- ihd[!duplicated(ihd),]
mi <- mi[!duplicated(mi),]
pvd <- pvd[!duplicated(pvd),]
stroke <- stroke[!duplicated(stroke),]
valve_disease <- valve_disease[!duplicated(valve_disease),]

In [5]:
nrow(angina)
nrow(cardiomyopathy)
nrow(heart_failure)
nrow(hypertension)
nrow(ihd)
nrow(mi)
nrow(pvd)
nrow(stroke)
nrow(valve_disease)

[1] 30499

[1] 2773

[1] 19045

[1] 63022

[1] 1055

[1] 7282

[1] 6567

[1] 27245

[1] 12721

In [6]:
# add indicator for each CVD, rename date of event, remove ctv3 code and text columns, choose earliest event of CVD per person
# Angina
angina <- angina %>%
    mutate(has_angina = 1) %>%
    rename(date_angina_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_angina_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

# Cardiomyopathy
cardiomyopathy <- cardiomyopathy %>%
    mutate(has_cardiomyopathy = 1) %>%
    rename(date_cardiomyopathy_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_cardiomyopathy_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

# Heart Failure
heart_failure <- heart_failure %>%
    mutate(has_heart_failure = 1) %>%
    rename(date_heart_failure_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_heart_failure_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

# Hypertension
hypertension <- hypertension %>%
    mutate(has_hypertension = 1) %>%
    rename(date_hypertension_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_hypertension_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

# Ischaemic Heart Disease
ihd <- ihd %>%
    mutate(has_ihd = 1) %>%
    rename(date_ihd_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_ihd_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

# Myocardial Infarction
mi <- mi %>%
    mutate(has_mi = 1) %>%
    rename(date_mi_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_mi_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

# Peripheral Vascular Disease
pvd <- pvd %>%
    mutate(has_pvd = 1) %>%
    rename(date_pvd_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_pvd_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

# Stroke
stroke <- stroke %>%
    mutate(has_stroke = 1) %>%
    rename(date_stroke_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_stroke_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

# Valve Disease
valve_disease <- valve_disease %>%
    mutate(has_valve_disease = 1) %>%
    rename(date_valve_disease_diagnosis = src_dateevent) %>%
    select(-src_ctv3code, -src_ctv3text) %>%
    group_by(person_id) %>%
    arrange(date_valve_disease_diagnosis) %>%
    mutate(event_number = row_number()) %>%
    slice_min(event_number) %>%
    select(-event_number) %>%
    ungroup()

In [8]:
print("Angina")
head(angina)

print("Cardiomyopathy")
head(cardiomyopathy)

print("Heart Failure")
head(heart_failure)

print("Hypertension")
head(hypertension)

print("IHD")
head(ihd)

print("MI")
head(mi)

print("PVD")
head(pvd)

print("Stroke")
head(stroke)

print("Valve Disease")
head(valve_disease)

[1] "Angina"

  person_id date_angina_diagnosis has_angina
1 1393      2002-01-22 00:00:00   1
2 1836      2004-11-03 08:55:17   1
3 1947      2006-05-05 00:00:00   1
4 2718      2012-05-29 16:46:30   1
5 5071      2004-01-05 14:49:00   1
6 5571      2004-06-22 00:00:01   1

[1] "Cardiomyopathy"

  person_id date_cardiomyopathy_diagnosis has_cardiomyopathy
1  5218     2009-12-01 14:39:42           1
2  6847     2021-06-02 00:00:01           1
3 17269     2013-10-21 00:00:00           1
4 18995     2005-05-11 00:00:01           1
5 25173     2011-12-09 14:34:18           1
6 33683     2007-10-12 00:00:00           1

[1] "Heart Failure"

  person_id date_heart_failure_diagnosis has_heart_failure
1  381      2006-07-11 12:54:46          1
2  519      2007-05-23 00:00:00          1
3 2262      2008-01-01 14:01:59          1
4 2630      2008-12-23 00:00:00          1
5 3254      2003-11-18 12:42:54          1
6 6822      2013-04-23 15:00:26          1

[1] "Hypertension"

  person_id date_hypertension_diagnosis has_hypertension
1  359      2013-04-08 18:08:53         1
2  957      2003-08-06 00:00:00         1
3 1183      2003-01-21 00:00:00         1
4 1545      2010-05-10 16:19:14         1
5 1836      2002-06-14 12:58:01         1
6 1851      2002-01-18 17:13:48         1

[1] "IHD"

  person_id date_ihd_diagnosis  has_ihd
1  39650    2002-01-02 15:22:17 1
2  52865    2003-02-04 00:00:00 1
3  54883    2012-05-11 16:06:48 1
4  73217    2006-08-31 10:43:44 1
5 109088    2009-01-01 09:24:43 1
6 123737    2002-11-12 00:00:00 1

[1] "MI"

  person_id date_mi_diagnosis   has_mi
1   760     2004-11-04 00:00:00 1
2  1885     2004-05-17 14:28:48 1
3  5102     2004-10-03 00:00:00 1
4 13718     2003-09-01 10:32:21 1
5 19168     2002-10-31 14:53:00 1
6 21100     2004-04-19 09:18:27 1

[1] "PVD"

  person_id date_pvd_diagnosis  has_pvd
1  2706     2012-04-30 10:09:46 1
2  5052     2021-04-23 14:21:43 1
3  6185     2004-12-02 10:36:38 1
4  9242     2012-10-29 00:00:00 1
5 10211     2002-10-21 00:00:00 1
6 21651     2005-12-23 14:20:00 1

[1] "Stroke"

  person_id date_stroke_diagnosis has_stroke
1  362      2006-09-01 17:52:28   1
2  406      2004-01-09 12:43:42   1
3 1935      2007-07-02 14:43:31   1
4 2623      2004-02-06 00:00:00   1
5 4257      2004-09-03 11:38:57   1
6 5023      2002-06-18 14:47:47   1

[1] "Valve Disease"

  person_id date_valve_disease_diagnosis has_valve_disease
1  4931     2007-04-26 00:00:00          1
2  4958     2002-07-03 00:00:00          1
3  5218     2010-08-12 00:00:00          1
4  5482     2022-05-26 00:00:00          1
5  6228     2004-09-15 16:35:50          1
6 10269     2021-04-29 15:06:21          1

In [7]:
nrow(angina)
nrow(cardiomyopathy)
nrow(heart_failure)
nrow(hypertension)
nrow(ihd)
nrow(mi)
nrow(pvd)
nrow(stroke)
nrow(valve_disease)

[1] 13926

[1] 1342

[1] 11134

[1] 22080

[1] 941

[1] 4301

[1] 4949

[1] 15352

[1] 8902

In [8]:
# join all tables
cvd <- full_join(angina, cardiomyopathy, by = "person_id")
cvd <- full_join(cvd, heart_failure, by = "person_id")
cvd <- full_join(cvd, hypertension, by = "person_id")
cvd <- full_join(cvd, ihd, by = "person_id")
cvd <- full_join(cvd, mi, by = "person_id")
cvd <- full_join(cvd, pvd, by = "person_id")
cvd <- full_join(cvd, stroke, by = "person_id")
cvd <- full_join(cvd, valve_disease, by = "person_id")

In [9]:
# replace NA with 0 in has_* columns
cvd <- cvd %>% 
    mutate_at(c('has_angina','has_cardiomyopathy','has_heart_failure','has_hypertension','has_ihd','has_mi','has_pvd','has_stroke','has_valve_disease'), ~replace_na(.,0))

In [10]:
# sum number of cvds, add indicator for cvd
cvd <- cvd %>%
    mutate(has_cvd = ifelse(has_angina == 1 | has_cardiomyopathy == 1 | has_heart_failure == 1 | has_hypertension == 1 | has_ihd == 1 | has_mi == 1 | has_pvd == 1 | has_stroke == 1 | has_valve_disease == 1,1,0)) %>%
    mutate(cvd_number = rowSums(select(.,"has_angina", "has_cardiomyopathy", "has_heart_failure", "has_hypertension", "has_ihd", "has_mi", "has_pvd", "has_stroke", "has_valve_disease")))
head(cvd)
table(cvd$cvd_number)

  person_id date_angina_diagnosis has_angina date_cardiomyopathy_diagnosis
1 1393      2002-01-22 00:00:00   1          <NA>
2 1836      2004-11-03 08:55:17   1          <NA>
3 1947      2006-05-05 00:00:00   1          <NA>
4 2718      2012-05-29 16:46:30   1          <NA>
5 5071      2004-01-05 14:49:00   1          <NA>
6 5571      2004-06-22 00:00:01   1          <NA>
  has_cardiomyopathy date_heart_failure_diagnosis has_heart_failure
1 0                  <NA>                         0
2 0                  <NA>                         0
3 0                  <NA>                         0
4 0                  <NA>                         0
5 0                  <NA>                         0
6 0                  <NA>                         0
  date_hypertension_diagnosis has_hypertension date_ihd_diagnosis ⋯
1 <NA>                        0                <NA>               ⋯
2 2002-06-14 12:58:01         1                <NA>               ⋯
3 <NA>                        0                <NA>               ⋯
4 <NA>                        0                <NA>               ⋯
5 2002-10-02 09:07:38         1                <NA>               ⋯
6 <NA>                        0                <NA>               ⋯
  date_mi_diagnosis has_mi date_pvd_diagnosis has_pvd date_stroke_diagnosis
1 <NA>              0      <NA>               0       <NA>
2 <NA>              0      <NA>               0       <NA>
3 <NA>              0      <NA>               0       <NA>
4 <NA>              0      <NA>               0       <NA>
5 <NA>              0      <NA>               0       <NA>
6 <NA>              0      <NA>               0       <NA>
  has_stroke date_valve_disease_diagnosis has_valve_disease has_cvd cvd_number
1 0          <NA>                         0                 1       1
2 0          <NA>                         0                 1       2
3 0          <NA>                         0                 1       1
4 0          <NA>                         0                 1       1
5 0          <NA>                         0                 1       2
6 0          <NA>                         0                 1       1

    1     2     3     4     5     6     7
51563 10930  2449   463    50     8     1

In [11]:
# change date variable field class to date to be able to save dataset
cvd$date_angina_diagnosis <- as.Date(cvd$date_angina_diagnosis)
cvd$date_cardiomyopathy_diagnosis <- as.Date(cvd$date_cardiomyopathy_diagnosis)
cvd$date_valve_disease_diagnosis <- as.Date(cvd$date_valve_disease_diagnosis)
cvd$date_heart_failure_diagnosis <- as.Date(cvd$date_heart_failure_diagnosis)
cvd$date_hypertension_diagnosis <- as.Date(cvd$date_hypertension_diagnosis)
cvd$date_ihd_diagnosis <- as.Date(cvd$date_ihd_diagnosis)
cvd$date_mi_diagnosis <- as.Date(cvd$date_mi_diagnosis)
cvd$date_pvd_diagnosis <- as.Date(cvd$date_pvd_diagnosis)
cvd$date_stroke_diagnosis <- as.Date(cvd$date_stroke_diagnosis)

In [12]:
# add date of birth, gender, ethnicity and imd decile 
# person table
sql <- "SELECT * FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_AH.Patient_Denom`"
tb <- bq_project_query(projectid, sql)
person <-bq_table_download(tb)
head(person)

  person_id birth_datetime death_datetime gender ethnicity imd_decile
1 16813063  <NA>           <NA>           2      2         1
2 16832562  <NA>           <NA>           1      3         1
3 16769967  <NA>           <NA>           1      1         1
4 16832450  <NA>           <NA>           1      2         1
5 16814272  <NA>           <NA>           1      2         1
6 13715865  <NA>           <NA>           1      2         1

In [14]:
nrow(cvd)

[1] 65464

In [15]:
# join person table to cvd table
cvd_pc <- person %>%
    right_join(cvd)

head(cvd_pc)

Joining with `by = join_by(person_id)`

  person_id birth_datetime death_datetime gender ethnicity imd_decile
1 13415106  1931-06-15     2018-05-15     1      1         1
2 12736614  1931-06-15     2012-11-15     1      1         1
3 12570853  1931-06-15     2012-02-15     1      1         1
4 13432538  1931-06-15     <NA>           1      1         1
5 13697954  1931-06-15     2018-03-15     2      1         1
6 12663073  1931-06-15     2014-12-15     2      2         1
  date_angina_diagnosis has_angina date_cardiomyopathy_diagnosis
1 2003-08-28            1          <NA>
2 <NA>                  0          <NA>
3 <NA>                  0          <NA>
4 <NA>                  0          <NA>
5 <NA>                  0          <NA>
6 <NA>                  0          <NA>
  has_cardiomyopathy ⋯ date_mi_diagnosis has_mi date_pvd_diagnosis has_pvd
1 0                  ⋯ 2005-12-19        1      <NA>               0
2 0                  ⋯ <NA>              0      <NA>               0
3 0                  ⋯ 2003-01-01        1      2003-09-01         1
4 0                  ⋯ <NA>              0      <NA>               0
5 0                  ⋯ <NA>              0      2017-08-04         1
6 0                  ⋯ <NA>              0      <NA>               0
  date_stroke_diagnosis has_stroke date_valve_disease_diagnosis
1 <NA>                  0          <NA>
2 <NA>                  0          <NA>
3 <NA>                  0          <NA>
4 2008-02-22            1          <NA>
5 2008-08-15            1          <NA>
6 <NA>                  0          <NA>
  has_valve_disease has_cvd cvd_number
1 0                 1       3
2 0                 1       1
3 0                 1       2
4 0                 1       1
5 0                 1       2
6 0                 1       1

In [16]:
# Derive age at date of diagnosis for each cvd
cvd_pc <- cvd_pc %>%
    mutate(age_angina_diag = interval(birth_datetime, date_angina_diagnosis)/years(1)) %>%
    mutate(age_angina_diag = floor(age_angina_diag)) %>%
    mutate(age_cardiomyopathy_diag = interval(birth_datetime, date_cardiomyopathy_diagnosis)/years(1)) %>%
    mutate(age_cardiomyopathy_diag = floor(age_cardiomyopathy_diag)) %>%
    mutate(age_heart_failure_diag = interval(birth_datetime, date_heart_failure_diagnosis)/years(1)) %>%
    mutate(age_heart_failure_diag = floor(age_heart_failure_diag)) %>%
    mutate(age_hypertension_diag = interval(birth_datetime, date_hypertension_diagnosis)/years(1)) %>%
    mutate(age_hypertension_diag = floor(age_hypertension_diag)) %>%
    mutate(age_ihd_diag = interval(birth_datetime, date_ihd_diagnosis)/years(1)) %>%
    mutate(age_ihd_diag = floor(age_ihd_diag)) %>%
    mutate(age_mi_diag = interval(birth_datetime, date_mi_diagnosis)/years(1)) %>%
    mutate(age_mi_diag = floor(age_mi_diag)) %>%
    mutate(age_pvd_diag = interval(birth_datetime, date_pvd_diagnosis)/years(1)) %>%
    mutate(age_pvd_diag = floor(age_pvd_diag)) %>%
    mutate(age_stroke_diag = interval(birth_datetime, date_stroke_diagnosis)/years(1)) %>%
    mutate(age_stroke_diag = floor(age_stroke_diag)) %>%
    mutate(age_valve_disease_diag = interval(birth_datetime, date_valve_disease_diagnosis)/years(1)) %>%
    mutate(age_valve_disease_diag = floor(age_valve_disease_diag))

In [17]:
head(cvd_pc)

  person_id birth_datetime death_datetime gender ethnicity imd_decile
1 13415106  1931-06-15     2018-05-15     1      1         1
2 12736614  1931-06-15     2012-11-15     1      1         1
3 12570853  1931-06-15     2012-02-15     1      1         1
4 13432538  1931-06-15     <NA>           1      1         1
5 13697954  1931-06-15     2018-03-15     2      1         1
6 12663073  1931-06-15     2014-12-15     2      2         1
  date_angina_diagnosis has_angina date_cardiomyopathy_diagnosis
1 2003-08-28            1          <NA>
2 <NA>                  0          <NA>
3 <NA>                  0          <NA>
4 <NA>                  0          <NA>
5 <NA>                  0          <NA>
6 <NA>                  0          <NA>
  has_cardiomyopathy ⋯ cvd_number age_angina_diag age_cardiomyopathy_diag
1 0                  ⋯ 3          72              NA
2 0                  ⋯ 1          NA              NA
3 0                  ⋯ 2          NA              NA
4 0                  ⋯ 1          NA              NA
5 0                  ⋯ 2          NA              NA
6 0                  ⋯ 1          NA              NA
  age_heart_failure_diag age_hypertension_diag age_ihd_diag age_mi_diag
1 NA                     72                    NA           74
2 78                     NA                    NA           NA
3 NA                     NA                    NA           71
4 NA                     NA                    NA           NA
5 NA                     NA                    NA           NA
6 NA                     73                    NA           NA
  age_pvd_diag age_stroke_diag age_valve_disease_diag
1 NA           NA              NA
2 NA           NA              NA
3 72           NA              NA
4 NA           76              NA
5 86           77              NA
6 NA           NA              NA

In [18]:
# remove birth date, gender, ethnicity and imd
cvd_pc <- cvd_pc %>%
    select(-birth_datetime, -gender, -ethnicity, -imd_decile)

In [19]:
colnames(cvd_pc)

 [1] "person_id"                     "death_datetime"
 [3] "date_angina_diagnosis"         "has_angina"
 [5] "date_cardiomyopathy_diagnosis" "has_cardiomyopathy"
 [7] "date_heart_failure_diagnosis"  "has_heart_failure"
 [9] "date_hypertension_diagnosis"   "has_hypertension"
[11] "date_ihd_diagnosis"            "has_ihd"
[13] "date_mi_diagnosis"             "has_mi"
[15] "date_pvd_diagnosis"            "has_pvd"
[17] "date_stroke_diagnosis"         "has_stroke"
[19] "date_valve_disease_diagnosis"  "has_valve_disease"
[21] "has_cvd"                       "cvd_number"
[23] "age_angina_diag"               "age_cardiomyopathy_diag"
[25] "age_heart_failure_diag"        "age_hypertension_diag"
[27] "age_ihd_diag"                  "age_mi_diag"
[29] "age_pvd_diag"                  "age_stroke_diag"
[31] "age_valve_disease_diag"

In [20]:
cvd_pc <- cvd_pc %>%
mutate(in_data = 1)

In [21]:
nrow(cvd_pc)

[1] 65464

In [31]:
table(cvd_pc$has_valve_disease)

    0     1
56562  8902

In [22]:
# save
# set destination table - do this regardless of whether it already exists
dest_dataset <- bq_dataset("yhcr-prd-phm-bia-core","CB_MYSPACE_AH")
dest_table <- bq_table(dest_dataset, "Cardiovascular_Diseases_Primary_Care")

# create a full table spec as follows
# then pass this to bq_table_upload
dest_fields <- bq_fields(list(bq_field("person_id", "INT64", "REQUIRED"),
                              bq_field("date_angina_diagnosis", "DATE"),
                              bq_field("has_angina", "INT64"),
                              bq_field("age_angina_diag", "INT64"),
                              bq_field("date_cardiomyopathy_diagnosis", "DATE"),
                              bq_field("has_cardiomyopathy", "INT64"),
                              bq_field("age_cardiomyopathy_diag", "INT64"),
                              bq_field("date_heart_failure_diagnosis", "DATE"),
                              bq_field("has_heart_failure", "INT64"),
                              bq_field("age_heart_failure_diag", "INT64"),
                              bq_field("date_hypertension_diagnosis", "DATE"),
                              bq_field("has_hypertension", "INT64"),
                              bq_field("age_hypertension_diag", "INT64"),
                              bq_field("date_ihd_diagnosis", "DATE"),
                              bq_field("has_ihd", "INT64"),
                              bq_field("age_ihd_diag", "INT64"),
                              bq_field("date_mi_diagnosis", "DATE"),
                              bq_field("has_mi", "INT64"),
                              bq_field("age_mi_diag", "INT64"),
                              bq_field("date_pvd_diagnosis", "DATE"),
                              bq_field("has_pvd", "INT64"),
                              bq_field("age_pvd_diag", "INT64"),
                              bq_field("date_stroke_diagnosis", "DATE"),
                              bq_field("has_stroke", "INT64"),
                              bq_field("age_stroke_diag", "INT64"),
                              bq_field("date_valve_disease_diagnosis", "DATE"),
                              bq_field("has_valve_disease", "INT64"),
                              bq_field("age_valve_disease_diag", "INT64"),
                              bq_field("has_cvd", "INT64"),
                              bq_field("cvd_number", "INT64"),
                             bq_field("in_data", "INT64")))

# delete an existing table if necessary
if(bq_table_exists(dest_table)) bq_table_delete(dest_table)
# upload file_data to dest_table
bq_table_upload(dest_table, cvd, fields = dest_fields, create_disposition='CREATE_IF_NEEDED', write_disposition='WRITE_TRUNCATE')